body {
    font-family: Arial, sans-serif;
    background-color: rgb(105, 202, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#successBox{
    background-image: linear-gradient(to bottom, grey, white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}